{% extends 'base.html.twig' %}


{% block navSuperior %}
{% endblock %}


{% block contenidoCentral %}
    <div id="contenedorModos" class="centered">
        <img class="logo centered"src="/storian/View/Assets/img/logo.svgz" >
    <a  class="enterLink" href="modos">
        <div id="tituloWeb" class="modos only">
            <img class="doorsvg" src="/storian/View/Assets/img/curve.svgz" >
        </div>
    </a>
</div>

{% endblock %}
